@import url("https://fonts.googleapis.com/css2?family=Allison&family=Poppins&display=swap");

/* font-family: "Allison", cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --dark-blue: #0a1d3c;
  --light-gray: #e5e5e5;
  --white: #fff;
  --light-peach: #f9e3bc;
  --dark-gray: #3e3f43;
  --light-black: #1d1d1d;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  font-size: 1.1rem;
  border: none;
  padding: 1rem 1.7rem;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
section {
  min-height: 100vh;
  width: 100%;
}
/* ---- Header Start ---- */
header {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
nav {
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navlinks {
  display: flex;
  gap: 2.5rem;
}
.navlinks li a {
  color: var(--dark-gray);
  font-size: 1rem;
  letter-spacing: 0.05rem;
  position: relative;
}
.navlinks li a::after,
.navlinks li a.active::after {
  content: "";
  background: var(--dark-gray);
  width: 100%;
  height: 0.15rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
.navlinks li a:hover::after,
.navlinks li a.active::after {
  transform: scaleX(1);
  transform-origin: left;
}
.logo a {
  font-size: 3.3rem;
  color: var(--dark-blue);
  font-family: "Allison", cursive;
}
.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger i {
  font-size: 1.5rem;
  color: var(--dark-gray);
}
/* ---- Header End ---- */
/* ---- Hero Start ---- */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: calc(100vh - 13vh);
}
.hero-img-container {
}
.hero-img {
  width: 35rem;
}
.hero-content {
}
.hero-heading {
  font-size: 5rem;
  position: relative;
}
.hero-heading::before {
  content: "New";
  position: absolute;
  top: -60px;
  color: var(--dark-blue);
  font-family: "Allison", cursive;
}
.hero-sub-heading {
  font-size: 1.7rem;
}
.hero-price {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.hero-btn-container {
  display: flex;
  margin-top: 2rem;
}

.primary-btn {
  background: var(--light-gray);
}
.primary-btn:hover {
  transform: scale(1.1);
}
.secondary-btn {
  background: var(--dark-blue);
  color: var(--white);
  transform: scale(1.1);
}
.secondary-btn:hover {
  transform: scale(1);
}

/* ---- Hero End ---- */
/* ---- Featured Start ---- */
.featured {
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-container {
  background: var(--light-peach);
  width: 100%;
  height: 60vh;
  transform: skewY(-6deg);
}

.featured-inner-container {
  transform: skewY(6deg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.featured-heading {
  font-size: 4rem;
  color: var(--dark-gray);
}
.featured-para {
  font-size: 1rem;
  max-width: 80%;
  color: var(--light-black);
  line-height: 1.7rem;
}
.featured-price {
  font-size: 1.5rem;
  margin: 1.8rem 0;
}
.featured-btn {
  background: transparent;
  border: 0.1rem solid var(--light-black);
}
.featured-btn:hover {
  transform: scale(1.1);
}
.featured-image {
  width: 28rem;
}
/* ---- Featured End ---- */
/* ---- Arrival Start ---- */
.arrival {
}
.arival-heading {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  text-align: center;
}
.card {
  background: var(--light-gray);
  padding: 2rem 0;
}
.card-image {
  width: 20rem;
}
.card-price {
  font-size: 1.2rem;
  margin: 1rem 0;
}
/* ---- Arrival End ---- */
/* ---- Offers Start ---- */
.offer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.offers-container {
  width: 100%;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/watch.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* .content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */
.offer-text {
  font-size: 4rem;
  color: var(--light-peach);
  font-family: "Allison", cursive;
  text-transform: uppercase;
}
.offer-heading {
  font-size: 4rem;
  color: var(--white);
  margin-bottom: 1rem;
}
/* ---- Offers End ---- */
/* ---- Collection Start ---- */
.grid-card-container {
  width: 60%;
  height: 80vh;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  grid-auto-rows: 15rem;
}
.grid-card {
  position: relative;
}
.grid-card:nth-child(1) {
  grid-row: 1/4;
  background-image: url("../images/rado\ watch.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-card:nth-child(2) {
  background-image: url("../images/tissot\ watch.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-card:nth-child(3) {
  grid-row: 1/3;
  background-image: url("../images/cartier\ watch.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-card:nth-child(4) {
  grid-row: 3/4;
  background-image: url("../images/geneve\ watch.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-card:nth-child(5) {
  background-image: url("../images/omega\ watch.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-card:nth-child(6) {
  grid-row: 3/4;
  background-image: url("../images/fitron\ watch.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-card::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
  transform: scaleX(0);
  transition: transform 0.6s ease-in-out;
  transform-origin: left;
}
.grid-card:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}
.grid-card::after {
  content: attr(collection);
  position: absolute;
  background: var(--light-peach);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.7rem;
  font-size: 1.1rem;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.grid-card:hover::after {
  visibility: visible;
  opacity: 1;
}
/* ---- Collection End ---- */
/* Footer Start */
footer {
  background: #000;
  margin-top: 4rem;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  font-size: 1rem;
  color: var(--white);
}
/* Footer End */
