@import url("https://fonts.googleapis.com/css2?family=Allison&family=Poppins&display=swap");

/* font-family: "Allison", cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --dark-blue: #0a1d3c;
  --light-gray: #e5e5e5;
  --white: #fff;
  --light-peach: #f9e3bc;
  --dark-gray: #3e3f43;
  --light-black: #1d1d1d;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  font-size: 1.1rem;
  border: none;
  padding: 1rem 1.7rem;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
section {
  min-height: 100vh;
  width: 100%;
}
/* ---- Header Start ---- */
header {
  width: 100%;
  height: 13vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navlinks {
  display: flex;
  gap: 2.5rem;
}
.navlinks li a {
  color: var(--dark-gray);
  font-size: 1rem;
  letter-spacing: 0.05rem;
  position: relative;
}
.navlinks li a::after,
.navlinks li a.active::after {
  content: "";
  background: var(--dark-gray);
  width: 100%;
  height: 0.15rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
.navlinks li a:hover::after,
.navlinks li a.active::after {
  transform: scaleX(1);
  transform-origin: left;
}
.logo a {
  font-size: 3.3rem;
  color: var(--dark-blue);
  font-family: "Allison", cursive;
}
.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger i {
  font-size: 1.5rem;
  color: var(--dark-gray);
}
/* ---- Header End ---- */
/* ---- Hero Start ---- */
.hero {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: calc(100vh - 13vh);
}
.hero-img-container {
}
.hero-img {
  width: 35rem;
}
.hero-content {
}
.hero-heading {
  font-size: 5rem;
  position: relative;
}
.hero-heading::before {
  content: "New";
  position: absolute;
  top: -60px;
  color: var(--dark-blue);
  font-family: "Allison", cursive;
}
.hero-sub-heading {
  font-size: 1.7rem;
}
.hero-price {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.hero-btn-container {
  display: flex;
  margin-top: 2rem;
}

.primary-btn {
  background: var(--light-gray);
}
.primary-btn:hover {
  transform: scale(1.1);
}
.secondary-btn {
  background: var(--dark-blue);
  color: var(--white);
  transform: scale(1.1);
}
.secondary-btn:hover {
  transform: scale(1);
}

/* ---- Hero End ---- */
/* ---- Featured Start ---- */
.featured {
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-container {
  background: var(--light-peach);
  width: 100%;
  height: 60vh;
  transform: skewY(-6deg);
}
.featured-inner-container {
  transform: skewY(6deg);
}

.featured-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.featured-heading {
  font-size: 4rem;
  color: var(--dark-gray);
}
.featured-para {
  font-size: 1rem;
  color: var(--light-black);
  line-height: 1.7rem;
}
.featured-price {
  font-size: 1.5rem;
  margin: 1.8rem 0;
}
.featured-btn {
  background: transparent;
  border: 0.1rem solid var(--light-black);
}
.featured-btn:hover {
  transform: scale(1.1);
}
.featured-image {
  width: 28rem;
}
/* ---- Featured End ---- */
